@import '_reset';

.colorful {
    width: 90%;
    margin: 10px auto;
    background: yellow;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .colorful {
        background: blue;
        color: #fff;
    }
}

@media screen and (max-width: 600px) {
    .colorful {
        background: red;
        color: yellow;
    }
}