@import '_reset';

.container {
    max-width: 800px;
    height: 100%;
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #dedede;
    outline: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.btn {
    padding: 10px 15px;
    border: 0;
    background: #5173e4;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: #1fb3d8;
    }
}

.fn {
    text-align: right;
}

#response {
    padding: 15px;
    border: 1px solid #dedede;
    width: 100%;
    min-height: 50px;
    margin-top: 20px;
}




//電子鐘
.clock {
    margin-top: 30px;
    display: flex;

    >li {
        width: 12.5%;
        background: #000;
        color: #fff;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        font-weight: 800;
        font-family: 'Courier New', Courier, monospace;
    }
}