@import '_reset';

.container {
    max-width: 800px;
    height: 100%;
    position: relative;
    padding: 0 15px;
    margin: auto;
}

.slogan {
    background: #01225e;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.todo-input {
    display: flex;
    align-items: center;
    margin-top: 15px;

    >label {
        margin-right: 15px;
        font-size: 28px;
    }

    >input {
        flex: 1;
        height: 36px;
        outline: 0;
        padding: 0 15px;
        border: 0;
        border-bottom: 1px solid #000;
        font-size: 30px;
    }

    >button {
        padding: 10px 20px;
        border: 0;
        background: #004906;
        color: #fff;
        margin-left: 15px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background: #187e21;
        }
    }

}

.pending-item {
    input[type="checkbox"]:checked~label {
        text-decoration: line-through;
    }
}

.todo-status {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 15px;

    >div {
        width: calc(50% - 8px);
        border: 1px solid #dedede;
        padding: 15px;
    }
}