@media screen and (max-width: 800px) {
    .header {

        // background: #b3b3b3;

        .header-logo {
            flex: 1;
        }

        .header-mobile-switch {
            display: flex;
        }

        // .container {}

        // .header-menu {
        .header-menu ul {
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
            // background: #dedede;
            background: $header-bg;
            display: none;
        }

        // .header-icon {}

        .header-lang {
            display: none;
        }
    }

    #mobile-checkbox {
        // &:checked~.header-mobile-switch {
        //     >span {
        //         background: rgb(224, 48, 48);

        //         &:first-child {
        //             transform: rotate(45deg);
        //             top: 9px;
        //         }

        //         &:nth-child(2) {
        //             transition: none;
        //             visibility: hidden;
        &:checked {
            ~.header-mobile-switch {
                >span {
                    background: rgb(61, 58, 58);

                    &:first-child {
                        transform: rotate(45deg);
                        top: 9px;
                    }

                    &:nth-child(2) {
                        transition: none;
                        visibility: hidden;
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                        top: -9px;
                    }
                }
            }

            ~.header-menu ul {
                display: flex;
            }
        }

        // &:last-child {
        //     transform: rotate(-45deg);
        //     top: -9px;
        // }

    }
}