//手機版介面:媒體類型跟特徵視窗螢幕最大寬度
@media screen and (max-width: 800px) {
    .header {
        .header-content {
            position: relative;

            .menu {
                // display: none;
                position: absolute;
                background: #ffffff;
                top: -500px;
                width: 100%;
                left: 0;
                opacity: 0; //透明度
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                padding-top: 30px;
                padding-bottom: 30px;
                transition: 0.3s;

                ul {
                    flex-direction: column;

                    li {
                        margin-right: 0;
                        margin-bottom: 30px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .mobile-switch {
                display: flex;
            }

            #mobile-switch-box {
                &:checked {

                    //~相鄰選擇器
                    ~.menu {
                        // display: block;
                        top: 90px;
                        opacity: 1;
                        // z-index: 2;
                        //讓上方白色區塊，按了漢堡盒會跳出來
                    }

                    //~相鄰選擇器
                    ~.mobile-switch {

                        >span {
                            background: rgb(126, 125, 125);

                            &:first-child {
                                position: relative;
                                transform: rotate(45deg);
                                top: 5px;
                            }

                            &:nth-child(2) {
                                display: none;
                            }

                            &:last-child {
                                position: relative;
                                transform: rotate(-45deg);
                                top: -5px;

                            }
                        }
                    }
                }
            }
        }
    }

    .join-form {
        height: unset;
        min-height: 100vh;

        .join-form-wrap {
            height: unset;
            align-items: flex-start;
            padding-top: 120px;

            .join-form-content {
                flex-direction: column;
                background: transparent;
                height: unset;
                padding-bottom: 60px;

                >div {
                    width: 100%;
                    height: 300px;
                    background: rgb(5, 47, 138);
                }

                .join-form-left-side {

                    &::before {
                        right: unset;
                        top: unset;
                        bottom: 0;
                        left: 0;
                        height: 3px;
                        width: calc(100% - 60px);
                        margin-left: 30px;
                        border-left-width: 0;
                        border-bottom: 3px dashed #fff;
                    }
                }
            }
        }
    }

    .flow {
        .item {
            justify-content: flex-start;
            padding-left: 5px;
            margin-bottom: 20px;

            &::before {
                //找上一層的item插入前方
                //「&」找上一層是屬於scss
                left: 18px;
            }

            .text {
                //html的class="text"
                left: 50px;
            }

            &:nth-child(even) {
                //子層指定的雙數

                //找上一層item的雙數
                .text {
                    left: 50px;
                    right: unset;
                    text-align: left;
                }
            }
        }
    }
}